<nav class="nav">
	<a href="{{path('app_home')}}">Accueil</a>
	<a href="{{path('app_about')}}">A propos</a>
	<a href="{{path('app_random')}}">Citation</a>
	<a href="{{path('app_redirect')}}">Redirection</a>
	<a href="{{path('app_images')}}">Ma gallerie d'image</a>
</nav>
